.body {
  width: 300px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  /* min-height: 100vh; */
}

.title {
  text-transform: capitalize;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
